{% extends 'base.html' %}

{% load static %}
{% block content %}
{% if user.is_authenticated and user == request.user %}
<div class="container">
  <h4 class="mb-2">Welcome {{user}}</h4></br>
  <h6 class="mb-2">Your Quiz Name: {{quiz_name}}</h6></br>
  <div class="card">
      <div class="card-body">
        {{user_role}}
        {% if user_role == 'Present Quiz' %}
          </head>
          <body>
            <form id="myForm" action="{% url 'add_questions' %}" method="POST">
                {% csrf_token %}
              <div id="formContainer">
                <div class="form-field">
                    <label for="question1">Question</label>
                    <textarea class="form-control" name="question" id="question" rows="3" required></textarea>
                  <label for="corract_answer">Correct Answer:</label>
                  <input class="form-control" type="text" name="correct_answer" id="correct_answer" required></br>
                  <label for="option1">Option 1:</label>
                  <input class="form-control" type="text" name="option1" id="option1" required></br>
                  <label for="option2">Option 2:</label>
                  <input class="form-control" type="text" name="option2" id="option2" required></br>
                  <label for="option3">Option 3:</label>
                  <input class="form-control" type="text" name="option3" id="option3" required></br>
                  <label for="option4">Option 4:</label>
                  <input class="form-control" type="text" name="option4" id="option4" required></br>
                </div>
              </div>
              <button type="submit">Submit</button>
            </form>
          </body>       
        {% else %}
        role isse
        {% endif %}
        {% else %}
        auith issye
        {% endif %}
{% endblock content %}