{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</br>
{% if user.is_authenticated and user == request.user %}
<div class="container">
  <h4 class="mb-2">Welcome {{user}}</h4></br>
  <div class="card">
      <div class="card-body">
        {% if user_role == 'Present Quiz' %}
        <h4> Create your Quiz <h4>
        <form class="row g-3">
          {% csrf_token %}
          <div class="col-auto">
            <input type="text" class="form-control" name = "Catagory" placeholder="Category of your Quiz">
          </div></br>
          <div class="col-auto">
            <input type="Number" class="form-control" name = "Catagory" placeholder="Number of questions">
          </div>
          <div class="form-group">
            <label for="duration">Select Duration:</label>
            <select class="form-control" id="duration">
              <option value="1">1 Hour</option>
              <option value="2">2 Hours</option>
              <option value="3">3 Hours</option>
            </select>
          </div>
          <div class="form-group">
            <label for="datepicker">Select Date:</label>
            <input type="text" class="form-control datepicker" id="datepicker" placeholder="Select date" autocomplete="off">
          </div>
            <script>
            $(document).ready(function() {
              $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
              });
            });
            </script>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3"> Create </button>
          </div>
        </form>
        {% else %}
        No Quizzes for now
        {% endif %}
        </div>
      </div>
    </div> 
</div></br>
{% endif %}
{% endblock content %}
