{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type='css' href='{% static "questions/questions.css" %}'>
<div class="container mt-5">
    <div style="text-align: center;">
    <a href="{% url 'home' %}" button class="btn btn-primary d-flex align-items-center btn-danger" type="button">
        <i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;Exit the quiz
    </button></a></br>
    <h4>MCQ Quiz</h4>
{% for question in question_list %}
</div>
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row justify-content-between align-items-center mcq">
                        {% comment %} <span>(5 of 20)</span> {% endcomment %}
                    </div>
                </div>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">{{question.3}}</h5>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio">
                            <input type="checkbox" name="answer" value="brazil">
                            <span>{{question.4}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio">
                            <input type="checkbox" name="answer" value="Germany">
                            <span>{{question.5}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio">
                            <input type="checkbox" name="answer" value="Indonesia">
                            <span>{{question.6}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio">
                            <input type="checkbox" name="answer" value="Russia">
                            <span>{{question.7}}</span>
                        </label>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                    <button class="btn btn-primary d-flex align-items-center btn-primary" type="button">
                        <i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;Submit
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
        <script>
            // JavaScript code to enforce selection of only one option
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        
            checkboxes.forEach((checkbox) => {
                checkbox.addEventListener('change', () => {
                    checkboxes.forEach((cb) => {
                        if (cb !== checkbox) {
                            cb.checked = false;
                        }
                    });
                });
            });
        </script>
        
{% endblock content %}